body {
    background: rgb(56, 51, 45);
    color: antiquewhite;
}
.buttonHolder{
    width: 100%;
    text-align: center;
    margin-top: 40vmin;
}
.button{
    background-color: #0b777785;
    border: none;
    color: rgb(201, 41, 41);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    cursor: pointer;
}

.ModalWindow{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-color: rgb(201, 41, 41,0.4);
    opacity: 0;
    pointer-events: none;
}
.msgtext{
    position: relative;
    width: 50vw;
    height: 25vmin;
    border-radius: 3px;
    border: 2px solid red;
    margin: auto;
    margin-top: 12%;
    background-color: rgb(14, 14, 14);
    overflow: hidden;
    text-align: center;
}
.visible{
    opacity: 1;
    pointer-events: auto;
}
